@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumbs {
    text-align: center;
}

body {
    overflow-x: hidden;
}


.StripeElement, .StripeElementIdeal, .StripeElementP24, .StripeElementEPS, .StripeElementFpx {
    width: 100%;
    margin: 0 auto;
}
